.main{
    width: 100%;
    height: auto;
    background-color: #37383b;
}
.dp{
    width: 80%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 3px 2px 3px 2px #2a2a36;

}
.about{
    color:#eaebe4;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    margin: 20px;
    margin-bottom: 50px;
}
.name{
    color: #c1c758;
}
.nav-item{
    font-size:larger
}
.row{
    padding: 20px
}
#content{
    border-bottom: 2px solid white;
    margin-top: 90px;

}
.w3-animate-zoom{
    animation-duration: 5s;


}

.typing{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #c1c758;
}

@media(max-width: 680px){
    .dp{
        margin-left: 25%;
        width: 50%;
        height: 70%;
    }
    .typing{
        font-size: 28px;
    }
    .about{
        font-size: 28px;
    }
    } 
    @media(max-width: 540px){
      .about{
          font-size: 20px;
      }
      } 

